<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
    <div class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="col-lg-3" style="height:54px;width:243px;margin:-6px;padding:15px;"></div>
        <div id="main-nav" class="navbar-collapse collapse">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item"><a href="index" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#Home" class="nav-link">Pacientes</a></li>
                <li class="nav-item"><a href="#About" class="nav-link" style="width:-80px;height:37px;">Recetas</a></li>
                <li class="nav-item"></li>
            </ul>
        </div>
        <div class="col-lg-3" style="width:304px;height:34px;"><a class="btn btn-light action-button" role="button" href="#" style="width:144px;height:36px;">Cerrar Sesion</a></div>
    </div>
    <div class="row">
        <div class="col"><label class="col-form-label" style="width:57px;height:42px;color:rgb(0,0,0);font-size:38px;">Recetas:</label></div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each=" recetas : ${recetas}">
                    <td th:text="${receta.getId()}"></td>
                    <td th:text="${receta.getFecha()}"></td>
                </tr>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
    <script src="js/script.min.js"></script>
</body>

</html>